:root {
  /* 正常模式 */
  --baiwu-bg-color: rgb(240, 242, 245);
  --baiwu-scrollbar: rgba(60, 60, 67, 0.4);
  --baiwu-scrollbar-hover: rgba(0, 0, 0, 0.4);
  --baiwu-hot-url-underline: rgba(0, 0, 0, 0.13);
}

/* 白天模式 */
[data-theme="dark"] {
  --baiwu-bg-color: rgb(16, 16, 10);
  --baiwu-scrollbar: rgba(200, 200, 223, 0.4);
  --baiwu-scrollbar-hover: rgba(0, 0, 0, 0.3);
  --baiwu-hot-url-underline: rgba(255, 255, 255, 0.08);
}

html,
body,
#root {
  background-color: var(--baiwu-bg-color);
  transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

#hot-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  max-width: 100%;
  backdrop-filter: blur(8px);
  padding: 16px 4vw;
  margin-bottom: 20px;
}

/* 修改滚动条样式 */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background: var(--baiwu-scrollbar);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--baiwu-scrollbar-hover);
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
